Bad* export-ignore
FUNDING.yml export-ignore
media/ export-ignore
data/ export-ignore
FutureRelease/ export-ignore
Misc/ export-ignore
OtherLists/ export-ignore 
PreviousReleases/ export-ignore
TestScripts/ export-ignore
